<h2>{{model.name}}</h2>

<form {{action 'createVote' model on='submit'}}>
  {{#each model.answers as |answer|}}
  {{input name="answer" type="radio" value=answer.name}}
  <label for="">{{answer.name}}</label><br>
  {{/each}}
  <br>
  <input type="submit" value="VOTE">
</form>

<br>
{{#link-to 'questions.question.votes'}}Results{{/link-to}}
<hr>
{{outlet}}
